main {
  overflow-y: auto;
  overflow-x: hidden;
}

table#concesionariosTable {
  width: 100%;
  display: table;
  position: relative;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  text-transform: uppercase;
  border-collapse: collapse;
}

table#concesionariosTable tbody tr.even {
  background-color: #fff;
  transition: background-color 100ms linear;
}

table#concesionariosTable tbody tr.odd {
  background-color: rgba(40, 40, 40, 0.05);
  transition: background-color 100ms linear;
}

table#concesionariosTable tbody tr:hover {
  background-color: #0c5a0f2a;
  cursor: pointer;
  transition: background-color 100ms linear;
}

table#concesionariosTable thead tr th {
  color: #2d6e3d;
  text-align: start;
  font-size: 14px;
  background-color: #fff;
  white-space: nowrap;
}

table#concesionariosTable tbody tr td {
  font-size: 14px;
  height: 2.5rem;
  padding: 0 8px !important;
  text-transform: uppercase !important;
  white-space: nowrap;
}

div.container-header h1 {
  font-weight: lighter;
  font-size: 2rem;
}

div.container-header p {
  font-weight: lighter;
  font-size: 14px;
  margin-bottom: 1rem;
}

div.datepicker-container {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

div.datePicker {
  display: flex;
  flex-flow: row nowrap;
  color: #333;
  align-items: center;
}

div.datePicker label {
  font-size: 12px;
  cursor: unset;
  background-color: #2d6e3d;
  color: white;
  height: 32px;
  line-height: 32px;
  margin: 0;
  padding: 0 1rem;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

div.datePicker input[type="date"] {
  height: 32px;
  border-left: unset;
  padding: 0 1rem;
  font-size: 12px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  outline: unset;
  background-color: whitesmoke;
  cursor: pointer;
}

button#dateSearch {
  border: 1px solid #33333325;
  padding: 0 1.5rem;
  font-size: 12px;
  color: white;
  background-color: #2d6e3d;
  border-radius: 3px;
}

button#dateSearch:hover {
  background-color: #2d6e3dc7;
  cursor: pointer;
}

/* Tabla Operadores */
table#concesionariosTable tbody tr td[data-type="tools"] {
  display: flex;
  flex-flow: row nowrap;
  gap: 4px;
}

#usuariosBajaModal .formContainer {
  padding: 20px;
}

#usuariosBajaModal button {
  border: none;
  outline: none;
}

#usuariosBajaModal button[type="button"] {
  border: 1px solid gray;
  background-color: white;
}

#usuariosBajaModal button[type="submit"] {
  background: #dc3545;
}

#usuariosBajaModal form#userBaja {
  margin-top: 20px;
}

#modalFormUpdateSubmit {
  background: #fd7e14;
  border: none;
}

#modalFormUpdateSubmit:hover {
  background: #d3660e;
}

#modalFormUpdateSubmit span {
  color: white;
}

#userVehicleSearch,
#userEmailSearch {
  display: flex;
  width: 100%;
}

/* NEW */
div.formContainer[data-visibility="true"] {
  display: block;
  visibility: visible;
}

div.formContainer[data-visibility="false"] {
  display: none;
  visibility: hidden;
}

.modalContent {
  width: 100%;
  max-width: 700px;
  background-color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 4px;
  transition: all 50ms linear;
}

.tab-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
}

.contentTabs {
  padding: 20px 20px 0 20px;
}

ul.tab-list::before {
  content: "";
  border-bottom: 1px solid gray;
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: -1;
  padding-left: 10px;
}

ul.tab-list li:first-child {
  margin-left: 8px;
}

.tab-button {
  padding: 8px 20px;
  border: 1px solid transparent;
  background: transparent;
  position: relative;
  transition: all 100ms linear;
}

.tab-button span {
  font-weight: 500;
}

.tab-button:hover:not([aria-selected="true"]) {
  background: linear-gradient(360deg, #f5f5f5 0%, rgba(255, 255, 255, 0) 100%);
  cursor: pointer;
  transition: all 100ms linear;
}

.tab-button[aria-selected="true"] {
  border-bottom: 1px solid white;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
  border-right: 1px solid gray;

  & > span {
    color: #d3660e;
  }
}

div#vehicles-container-list {
  padding: 1rem 0;
}

table#vehicles-list {
  width: 100%;
  border-collapse: collapse;
  text-transform: uppercase;
}

table#vehicles-list td {
  padding: 4px 6px;
  text-align: start;
  border-bottom: 1px solid #8080803a;
  font-size: 14px;
}
table#vehicles-list th {
  padding: 4px 6px;
  color: #2d6e3d;
  text-align: start;
  font-size: 14px;
  border-bottom: 1px solid #808080b3;
  white-space: nowrap;
}

.file-box {
  margin-inline: auto;
  display: block;
  width: max-content;
  position: relative;
}

.files-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  padding-top: 1rem;
  column-gap: 1rem;
}

.file-box > p {
  font-size: 11px;
  text-align: center;
  padding: 0.25rem 0 1rem 0;
  font-weight: 700;
}

.modal-preview-image,
.modal-preview-document {
  position: fixed;
  inset: 0 0 0 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
}

.modal-preview-image[data-visibility="hidden"],
.modal-preview-document[data-visibility="hidden"] {
  display: none;
  visibility: hidden;
}

.modal-bg {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
  background: #00000025;
  z-index: 2002;
}

.modal-preview-image .modal-container,
.modal-preview-document .modal-container {
  display: block;
  width: max-content;
  height: auto;
  padding: 1rem;
  border-radius: 4px;
  background: white;
  z-index: 2010;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-preview-document .modal-container {
  width: calc(600px + 2rem);
  height: calc(700px + 2rem);
}

.file-box label {
  position: absolute;
  display: block;
  top: -12px;
  right: -12px;
  width: 32px;
  height: 32px;
}

/* 
.imageEdit {
  position: absolute;
  top: -140px;
  right: -140px;
  height: 32px;
  width: 32px;
} */

.placa-search {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.placa-search label {
  display: flex;
  flex-flow: row;
  min-height: 40px;
  align-items: center;
  cursor: pointer;
  flex-grow: 1;
  width: 100%;
}

.placa-search input {
  flex-grow: 1;
  min-height: 40px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px solid gray;
  border-right: none;
  padding: 8px;
}

.placa-button-icon {
  min-height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.placa-button-icon:hover {
  cursor: pointer;
  transition: all 150ms linear;
  background-color: rgb(199, 199, 199);
}

.optionVehicle {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: 14px;
}

.optionVehicle span {
  font-size: inherit;
  line-height: 1.5;
}

button.botonAsignar {
  font-size: 12px;
  padding: 4px 8px;
  border: none;
  background: green;
  border-radius: 2px;
  color: white;
  text-transform: uppercase;
}

button.botonCheck {
  font-size: 12px;
  padding: 4px 8px;
  border: none;
  background: rgb(160, 160, 160);
  border-radius: 2px;
  color: white;
  text-transform: uppercase;
}

button.botonAsignar:hover {
  cursor: pointer;
}

.statusButtonVehicle {
  background: none;
  outline: none;
  border: none;
  display: block;
}

.statusButtonVehicle:hover {
  cursor: pointer;
  transform: scale(1.15);
}

.form-columns {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.checkbox-group {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  justify-content: flex-start;
  gap: 3rem;
}

.cellButtonTool {
  background: transparent;
  border: none;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 4px;
}

.cellButtonTool:hover {
  cursor: pointer;
}

div#usuarios-container-list {
  display: block;
  width: 100%;
  overflow-x: auto;
  padding-top: 1rem;
}
table#usuarios-list {
  width: 100%;
}
table#usuarios-list th,
table#vehicles-list th {
  color: #034e03;
  padding: 8px 0;
  text-align: start;
}

table#usuarios-list td {
  padding: 8px 0;
  text-transform: uppercase;
  font-size: 14px;
}

.cellStatus {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 1rem;
}
.buttonDelete {
  padding: 0px;
  border: none;
  background-color: transparent;
  &:hover {
    cursor: pointer;
  }
}

.hidden:not(li) {
  display: none !important;
}
