main {
  overflow-y: auto;
  overflow-x: hidden;
}

table#rates-list {
  width: 100%;
  display: table;
  position: relative;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  text-transform: uppercase;
  border-collapse: collapse;
}

table#rates-list tbody tr.even {
  background-color: rgba(0, 0, 0, 0.05);
  transition: background-color 100ms linear;
}

table#rates-list tbody tr.odd {
  background-color: #fff;
  transition: background-color 100ms linear;
}

table#rates-list tbody tr:hover,
table#rates-list tbody tr td:hover {
  background-color: #2d6e3d25;
  cursor: pointer;
  transition: background-color 100ms linear;
}

table#rates-list thead th {
  color: #2d6e3d;
  text-align: start;
  height: 2.5rem;
  background-color: #fff;
  font-size: 14px;
  white-space: nowrap;
  padding: 10px 18px;
  border-bottom: 1px solid #111;
}

table#rates-list tbody tr td {
  font-size: 14px;
  height: 2.5rem;
  padding: 0 8px !important;
  text-transform: uppercase !important;
  white-space: nowrap;
}

#municipios-list {
  width: 250px;
  text-align-last: auto;
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: white;
  border: 1px solid #333;
  border-radius: 3px;
  padding: 8px 4px;
}

.list_container label {
  position: relative;
  top: 8px;
  left: 8px;
  z-index: 21;
  display: block;
  background-color: white;
  width: fit-content;
  color: #2d6e3d;
  font-size: 14px;
  font-weight: 600;
}

.list_container {
  position: relative;
  display: block;
}


.table_container {
  overflow-x: auto;
  max-width: 100%;
  width: 100%;
  outline: 1px solid rgb(0 0 0 / 21%);
  padding-bottom: 1.5rem;
}