@font-face {
  font-family: TisaOT-Bold;
  src: url("../../assets/fonts/tisaOT/TisaOT-Bold.otf");
}

@font-face {
  font-family: TisaOT-MediIta;
  src: url("../../assets/fonts/tisaOT/TisaOT-MediIta.otf");
}

@font-face {
  font-family: Montserrat-Bold;
  src: url("../../assets/fonts/Montserrat/Montserrat-Bold.ttf");
}

@font-face {
  font-family: Montserrat-Regular;
  src: url("../../assets/fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("../../assets/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: Roboto-Bold;
  src: url("../../assets/fonts/Roboto/Roboto-Bold.ttf");
}

:root {
  --shadow: 0px 0px 8px 4px #00000015;
  --border-rad: 3px;
  --apple: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  --mont: Montserrat-Regular;
  --robo: Roboto;
}

#root.preload {
  display: none;
  opacity: 0;
  visibility: hidden;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: var(--apple);
  color: #333;
}

html {
  overflow: hidden;
  background: whitesmoke;
}

div#root {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 258px 1fr;
  grid-template-rows: 58px calc(100vh - 96px) 38px;
  grid-template-areas: "aside header header" "aside main main" "aside footer footer";
}

/*======================================================================================*/
aside {
  grid-area: aside;
  background: #3c3b3b;
  position: relative;
  box-shadow: 0px 2px 22px 0 rgba(0, 0, 0, 0.2), 0px 2px 30px 0 rgba(0, 0, 0, 0.35);
}

aside div.logo {
  display: block;
  width: 100%;
  height: 58px;
}

aside a.home-link {
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 2px;
  display: block;
  color: whitesmoke;
  text-decoration: none;
  width: 100%;
  line-height: 58px;
  text-align: center;
  text-transform: uppercase;
}

aside a.home-link:hover {
  color: white;
}

aside hr {
  display: block;
  width: 95%;
  margin: 0 auto 0.25rem auto;
  border: none;
  border-top: 1px solid rgba(128, 128, 128, 0.75);
}

/* ASIDE */
aside ul li.nav-item {
  list-style: none;
  position: relative;
}

aside a.nav-link,
aside a.nav-sublink {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.75rem;
  font-size: 10px;
  font-weight: lighter;
  color: whitesmoke;
  text-decoration: none;
  width: 100%;
  line-height: 48px;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 300ms ease 0s;
  margin: 0 auto;
  position: relative;
  /* z-index: 40; */
  border-radius: 5px;
}

aside a.nav-link.selectedPage {
  background-color: rgba(255, 255, 255, 0.15);
}

aside a.nav-link:hover,
aside a.nav-sublink:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.15);
  transition: background-color 300ms ease 0s;
}

aside ul li.nav-item a.isSelected {
  background-color: rgba(255, 255, 255, 0.2);
}

aside a.nav-link span,
aside a.nav-sublink span {
  margin-left: 1.5rem;
}

.link-icons {
  color: rgba(245, 245, 245, 0.74);
}

/*======================================================================================*/
header {
  grid-area: header;
  background: linear-gradient(to right, #2d6e3d 0%, #2d6e3d 60%, #7b99a6 100%);
}

header nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 58px;
  width: 100%;
  padding: 0 1rem;
  background-color: transparent;
  position: relative;
  /* z-index: 11; */
}

header nav h1.app-title {
  text-transform: uppercase;
  color: whitesmoke;
  font-size: 24px;
  font-weight: 400;
}

button.close-app {
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: transparent;
  color: whitesmoke;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  text-transform: uppercase;
  line-height: 38px;
  padding: 0 0.5rem;
  border-radius: var(--border-rad);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

button.close-app span {
  font-size: 16px;
  color: whitesmoke;
  font-weight: lighter;
}

button.close-app:hover {
  background-color: #ffffff31;
  color: white;
}

header div.header-bg-image {
  position: absolute;
  top: 0;
  width: 100%;
  display: block;
  height: 58px;
  background-image: url("../../assets/img/taximetro.png");
  background-repeat: no-repeat;
  background-size: 50vw auto;
  background-position-x: 35%;
  background-position-y: -78px;
  opacity: 0.25;
  /* z-index: 1; */
}

/*======================================================================================*/
main {
  grid-area: main;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-rad);
  background-color: #f5f5f5 !important;
}

main div.container {
  width: 100%;
  padding: 0 1.5rem 1.5rem;
  display: flex;
  row-gap: 1rem;
  flex-direction: column;
  max-width: 1280px;
  margin-inline: auto;
}

.page-title {
  display: block;
  width: 100%;
  height: auto;
  padding: 1.5rem 1.5rem 0 1.5rem;
  & > h2 {
    font-size: 32px;
    color: #123019;
    line-height: 48px;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Montserrat-Regular;
  }
}

/*======================================================================================*/
footer {
  grid-area: footer;
  background: transparent;
  text-align: end;
  padding-right: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/******************************************************************************************/
.lower {
  text-transform: lowercase;
}

.upper {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.bold {
  font-weight: bold;
}

a.isSelected {
  color: white !important;
  background-color: rgba(255, 255, 255, 0.15) !important;
}

/* Tadi Framework */
.container-module {
  position: relative;
  max-width: 1280px;
  margin-inline: auto;
  flex: 1;
}

.module-header {
  display: flex;
  justify-content: space-between;
}

.header-module-title {
  margin: 0;
  color: #333;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
}

.module-body {
  padding: 24px 0 24px 0;
}

.col-12 {
  width: 100%;
  max-width: 100%;
}

.col-11 {
  width: 100%;
  max-width: 91.666%;
}

.col-10 {
  width: 100%;
  max-width: 83.333%;
}

.col-9 {
  width: 100%;
  max-width: 75%;
}

.col-8 {
  width: 100%;
  max-width: 66.666%;
}

.col-7 {
  width: 100%;
  max-width: 58.333%;
}

.col-6 {
  width: 100%;
  max-width: 50%;
}

.col-5 {
  width: 100%;
  max-width: 41.666%;
}

.col-4 {
  width: 100%;
  max-width: 33.333%;
}

.col-3 {
  width: 100%;
  max-width: 25%;
}

.col-2 {
  width: 100%;
  max-width: 16.666%;
}

.col-1 {
  width: 100%;
  max-width: 8.333%;
}

button[type="button"].create-new {
  padding: 8px 16px;
  border-radius: 2px;
  border: none;
  margin-left: auto;
  background-color: #2d6e3d;
  transition: background-color 100ms linear;
  &:hover {
    background-color: #1a7d33;
    cursor: pointer;
    transition: background-color 100ms linear;
  }
  & > span {
    color: whitesmoke;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
  }
}

.modalForm {
  display: none;
  position: fixed;
  inset: 0 0 0 0;
  width: 100%;
  height: 100%;
  background-color: #0000004e;
  z-index: 1080;
}

.modalViewTrue {
  display: block;
}

.modalForm > .formContainer {
  background-color: #fff;
  border-radius: 1rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#usuariosAltaModal .containerHead {
  padding: 20px 20px 0px 20px;
  text-align: center;
}

#usuariosAltaModal .containerBody {
  padding: 20px;
  padding-top: 0px;
}

.formBottom button[type="submit"] {
  display: block;
  width: 100%;
}

.formGroup label {
  font-size: 14px;
  font-weight: 400;
  line-height: 2;
  color: #333 !important;
}

.formGroup.inputForm,
.formGroup.selectForm {
  flex-grow: 1;
  margin-bottom: 0.5rem;
  width: 100%;
  max-width: 210px;
}

.formGroup.inputForm > *,
.formGroup.selectForm > * {
  display: block;
}

.inputForm > input,
.selectForm > select {
  outline: none;
  border-radius: 2px;
  padding: 8px;
  border: 1px solid gray;
  width: 100%;
  color: #343a40;
  font-size: 16px;
}

.formParraf {
  padding: 2px 0 10px 0;
}

div[data-columns="2"] {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.containerFooter {
  padding-top: 20px;
}

input::placeholder {
  font-size: 14px;
}

.buttonsTools {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}

.buttonsTools > button {
  flex-grow: 1;
  padding: 10px;
  outline: none;
  border-radius: 4px;
  transition: all 200ms linear;
}

.buttonsTools > button:hover {
  cursor: pointer;
  transition: all 200ms linear;
}

.containerFooter button[type="button"] {
  border: 1px solid gray;
  background-color: white;
}

.containerFooter button[type="button"]:hover {
  background-color: rgb(233, 233, 233);
}

.containerFooter button[type="submit"] {
  border: 1px solid #265c34;
  background-color: #265c34;
}

.containerFooter button[type="submit"]:hover {
  background-color: #337845;
}

button[type="submit"] > span {
  color: white;
  font-weight: 500;
}

#historico-submenu,
#administracion-submenu {
  position: absolute;
  left: 258px;
  top: 0;
  z-index: 1080;
  background: #535353;
  border: 1px solid #5a5959;
  width: 256px;
}
#historico-submenu,
#administracion-submenu ul {
  list-style: none;
}

#historico-submenu[data-displayed="hidden"],
#administracion-submenu[data-displayed="hidden"] {
  display: none;
}

#historico-submenu[data-displayed="visible"],
#administracion-submenu[data-displayed="visible"] {
  display: block;
}

li#admin-menu-li::after,
li#historico-menu-li::after {
  content: url(../../assets/svg/arrow_menu_closed.svg);
  position: absolute;
  right: 1rem;
  top: 12px;
  z-index: 0;
  transform: rotate(180deg);
  transition: transform 150ms linear;
}

li#admin-menu-li:hover::after,
li#historico-menu-li:hover::after{
  transform: rotate(270deg);
  transition: transform 150ms linear;
}

#copyrightFooter {
  font-size: 12px;
}

input,
select,
option {
  text-transform: uppercase !important;
}

/*
** Datatables
*/

.datatable-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  column-gap: 8px;
}

.datatable-middle {
  overflow-x: auto;
  width: 100%;
  padding: 1rem 0;
}

.dataTables_filter {
  display: flex;
  flex-grow: 1;
  width: 100%;
  max-width: 440px;
}

.dataTables_filter label {
  background-color: #2d6e3d;
  padding-left: 16px;
  border-radius: 3px;
  color: whitesmoke;
  display: flex;
  font-size: 1rem;
  line-height: 1.5rem;
  align-items: center;
  column-gap: 0.5rem;
}

.dataTables_filter input {
  width: 400px;
  margin-left: 0.5rem;
  display: inline-block;
  background-color: white !important;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: none !important;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 0px !important;
  outline: 1px solid transparent;
  padding: 8px !important;
}

.dt-button.buttons-collection {
  margin-bottom: 0 !important;
  margin-right: 0 !important;
  background: transparent !important;
  padding: 0 8px !important;
  height: clamp(32px, 32px, 32px) !important;
  & > span {
    font-size: 14px !important;
  }
}

.tools[data-type="tools"] {
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 0.5rem;
  margin-left: auto;
}

.tableTools {
  display: flex;
  align-items: center;
  column-gap: 4px;
  background: transparent; 
  border: none;
  padding: 0 8px !important; 
  & > span {
    font-size: 14px;
    color: #434242;
    font-weight: 400;

    &:hover {
      color: black;
    }
  } 
}

.tableTools:hover {
  cursor: pointer;
}

.tableTools[data-type="view"] {
  color: #28a745;
}

.tableTools[data-type="update"] {
  color: #fd7e14;
}

.tableTools[data-type="delete"] {
  color: #dc3545;
}

.flex-wrap {
  flex-wrap: wrap !important;
}
.flex-nowrap {
  flex-wrap: nowrap !important;
}
.justify-start {
  justify-content: flex-start !important;
}

div.dt-button-collection {
  left: -120px !important;
}

.imageDelete {
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  right: -12px;
  top: 24px;
}


.cellButtonTool {
  background: transparent;
  border: none;
  font-size: 12px !important;
  font-weight: 400 !important;
  padding: 2px 4px !important;
}

.cellButtonTool:hover {
  cursor: pointer;
}

/* Responsive Design */

/* Tablets medianas (768px - 1024px) */
@media screen and (max-width: 1024px) {
  div#root {
    grid-template-columns: 220px 1fr;
    grid-template-rows: 58px calc(100vh - 96px) 38px;
  }

  aside div.logo {
    height: 58px;
  }

  aside a.home-link {
    font-size: 12px;
    letter-spacing: 1px;
  }

  aside a.nav-link,
  aside a.nav-sublink {
    font-size: 9px;
    gap: 0.5rem;
  }

  aside a.nav-link span,
  aside a.nav-sublink span {
    margin-left: 1rem;
  }

  header nav h1.app-title {
    font-size: 20px;
  }

  button.close-app {
    font-size: 11px;
  }

  .page-title > h2 {
    font-size: 28px;
  }

  #historico-submenu,
  #administracion-submenu {
    left: 220px;
    width: 220px;
  }
}

/* Tablets pequeñas (481px - 768px) */
@media screen and (max-width: 768px) {
  div#root {
    grid-template-columns: 1fr;
    grid-template-rows: 58px calc(100vh - 96px) 38px;
    grid-template-areas: 
      "header"
      "main"
      "footer";
  }

  aside {
    position: fixed;
    left: -258px;
    top: 0;
    width: 258px;
    height: 100vh;
    z-index: 1090;
    transition: left 300ms ease-in-out;
  }

  aside.mobile-menu-open {
    left: 0;
    transition: left 300ms ease-in-out;
  }

  /* Botón hamburguesa */
  header nav::before {
    content: '☰';
    font-size: 28px;
    color: whitesmoke;
    cursor: pointer;
    margin-right: 1rem;
    padding: 0 0.5rem;
    border-radius: 4px;
    transition: background-color 150ms ease;
  }

  header nav::before:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  header nav h1.app-title {
    font-size: 16px;
  }

  button.close-app {
    font-size: 10px;
    padding: 0 0.25rem;
  }

  button.close-app span {
    display: none;
  }

  .page-title {
    padding: 1rem 1rem 0 1rem;
  }

  .page-title > h2 {
    font-size: 24px;
    line-height: 36px;
  }

  main div.container {
    padding: 0 1rem 1rem;
  }

  #historico-submenu,
  #administracion-submenu {
    left: 258px;
  }

  /* Overlay para cerrar menú */
  body::after {
    content: '';
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1089;
  }

  body.menu-open::after {
    display: block;
  }
}

/* Móviles (320px - 480px) */
@media screen and (max-width: 480px) {
  div#root {
    grid-template-rows: 52px calc(100vh - 86px) 34px;
  }

  header nav {
    height: 52px;
    padding: 0 0.5rem;
  }

  header nav::before {
    font-size: 24px;
    margin-right: 0.5rem;
  }

  header nav h1.app-title {
    font-size: 13px;
  }

  button.close-app {
    font-size: 20px;
  }

  header div.header-bg-image {
    height: 52px;
  }

  .page-title {
    padding: 0.75rem 0.75rem 0 0.75rem;
  }

  .page-title > h2 {
    font-size: 20px;
    line-height: 30px;
  }

  main div.container {
    padding: 0 0.75rem 0.75rem;
  }

  .header-module-title {
    font-size: 22px;
    line-height: 33px;
  }

  footer {
    padding-right: 0.5rem;
  }

  #copyrightFooter {
    font-size: 10px;
  }

  /* Formularios */
  .formGroup.inputForm,
  .formGroup.selectForm {
    max-width: 100%;
  }

  div[data-columns="2"] {
    grid-template-columns: 1fr;
  }

  .buttonsTools {
    flex-direction: column;
  }

  .buttonsTools > button {
    width: 100%;
  }
}

/* DataTables Responsive */
@media screen and (max-width: 768px) {
  .datatable-top {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .dataTables_filter {
    max-width: 100%;
    width: 100%;
  }

  .dataTables_filter label {
    width: 100%;
  }

  .dataTables_filter input {
    width: 100%;
    max-width: 100%;
  }

  .tools[data-type="tools"] {
    width: 100%;
    margin-left: 0;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .dt-button.buttons-collection {
    font-size: 12px !important;
  }

  .datatable-middle {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  table.dataTable {
    min-width: 600px;
  }

  table.dataTable thead th,
  table.dataTable tbody td {
    white-space: nowrap;
  }
}

@media screen and (max-width: 480px) {
  .dataTables_filter label {
    font-size: 14px;
    padding-left: 12px;
  }

  .dataTables_filter input {
    font-size: 14px;
    padding: 6px !important;
  }

  .dt-button.buttons-collection {
    font-size: 11px !important;
    height: 28px !important;
  }

  .tableTools {
    padding: 0 6px !important;
  }

  .tableTools > span {
    font-size: 12px;
  }

  button[type="button"].create-new {
    padding: 6px 12px;
    font-size: 12px;
  }

  button[type="button"].create-new > span {
    font-size: 12px;
  }
}

