main {
  overflow-y: auto;
  overflow-x: hidden;
}
 
table#vehicle-list {
  width: 100%;
  display: table;
  position: relative;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  text-transform: uppercase;
}

table#vehicle-list tbody tr.even {
  background-color: #fff;
}

table#vehicle-list tbody tr.odd {
  background-color: rgba(0, 0, 0, 0.05);
}

table#vehicle-list tbody tr:hover {
  background-color: #0c435a51;
  cursor: pointer;
}

table#vehicle-list thead th {
  color: #2d6e3d;
  text-align: start;
  background-color: #FFF;
}

table#vehicle-list tbody tr td {
  font-size: 14px;
  height: 2.5rem;
  padding: 0 8px !important;
  text-transform: uppercase;
  &:first-child {
    text-align: center;
  }
}

input[aria-controls="vehicle-list"] {
  width: 400px;
  background-color: whitesmoke !important;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: none !important;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 0px !important;
  outline: 1px solid transparent;
}

tr td:first-child {
  white-space: nowrap;
}

div.modalForm[data-visibility="visible"] {
  display: block;
  visibility: visible;
}

div.modalForm[data-visibility="hidden"] {
  position: fixed;
  inset: 0 0 0 0;
  display: none;
  visibility: hidden;
}

div.dialog-bg {
  width: 100%;
  height: 100%;
  inset: 0 0 0 0;
  position: absolute;
  background: #00000040;
}

.modalContent {
  width: 100%;
  max-width: 800px;
  background-color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 4px;
  transition: all 50ms linear;
}

.containerHead {
  padding: 24px 24px 0 24px;
}

.containerBody {
  padding: 24px;
}

.flexed {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.formGroup {
  flex-grow: 1;
}

.form-buttons-tools button {
  padding: 8px 10px;
  width: 100%;
  max-width: 214px;
}

.form-buttons-tools button[type="submit"][data-type="add"] {
  background: #2d6e3d;
}

.form-buttons-tools button[type="submit"][data-type="add"]:hover {
  background: #276336;
}

.form-buttons-tools button[type="submit"][data-type="update"] {
  background: #ff9934;
}

.form-buttons-tools button[type="submit"][data-type="update"]:hover {
  background: #e38528;
}

.form-buttons-tools {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  padding-top: 1rem;
  justify-content: flex-end;
  align-items: center;
}

.form-buttons-tools button[type="button"] {
  background: white;
}

.form-buttons-tools button[type="button"]:hover {
  background: rgb(237, 237, 237);
}

.form-buttons-tools button {
  border: none;
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid #808080a6;
}

div#form-dates[data-display="none"] {
  display: none;
  visibility: hidden;
}

div#form-dates[data-display="block"] {
  display: flex;
  visibility: visible;
}

input[type="text"]:disabled {
  background: #e7e3de;
}

#button-add {
  border: 1px solid #33333325;
  background-color: #2d6e3d;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  margin-left: auto;
  padding: 4px 16px;
}

#button-add span {
  color: white;
  font-size: 12px;
}

.file-box {
  margin-inline: auto;
  display: block;
  width: max-content;
  position: relative;
}

.files-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  padding-top: 1rem;
  column-gap: 1rem;
}

.file-box > p {
  font-size: 14px;
  text-align: center;
  padding: 0.25rem 0 1rem 0;
  font-weight: 500;
}

.modal-preview-image {
  position: fixed;
  inset: 0 0 0 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
}

.modal-preview-image[data-visibility="hidden"] {
  display: none;
  visibility: hidden;
}

.modal-bg {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
  background: #00000025;
  z-index: 2002;
}

.modal-container {
  display: block;
  width: max-content;
  height: auto;
  padding: 1rem;
  border-radius: 4px;
  background: white;
  z-index: 2010;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.file-box label {
  position: absolute;
  display: block;
  top: -12px;
  right: -12px;
  width: 32px;
  height: 32px;
}

button.cellButtonTool {
  border: none;
  background: transparent;
}

td[data-type="tools"] {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

button.cellButtonTool:hover {
  cursor: pointer;
  outline: 1px solid #a4a2a2;
  border-radius: 2px;
}

.checkbox-group {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  justify-content: flex-start;
  gap: 3rem;
}

.form-columns {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
